## Loading data in Pandas

In [1]:
import pandas as pd

## Read CSV File ##
df = pd.read_csv('pokemon_data.csv')

## Read Excel File ##
# df_xlsx = pd.read_excel('pokemon_data.xlsx')

## Read TXT Files ##
# df_txt = pd.read_csv('pokemon_data.txt', delimiter='\t')

## Read Top 5 Rows ##
# print(df.head(5))

## Read Last 5 Rows ##
# print(df.tail(5))

print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

## Reading Data in Pandas

In [ ]:
## Read Headers
df.columns

## Read Each Column ##
# print(df['Name'])
# print(df['Name'][0:5])
# print(df[['Name', 'Type 1', 'HP']])

## Read Each Row ##
# print(df.iloc[1])
# print(df.iloc[1:4])

# for index, row in df.iterrows():
#     print(index, row['Name'])

df.loc[df['Type 1'] == 'Fire']

## Read a specific location (R,C) ##
# print(df.iloc[2,1])

## Sorting/Describing Data

In [8]:
# df.describe()

## Sort Data ##
# df.sort_values('Attack', ascending=False)
# df.sort_values(['Attack', 'Name'], ascending=False)
df.sort_values(['Type 1', 'Attack'], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False
650,589,Escavalier,Bug,Steel,70,135,105,60,105,20,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
405,370,Luvdisc,Water,NaN,43,30,55,40,65,97,3,False
198,183,Marill,Water,Fairy,70,20,50,20,50,40,2,False
508,458,Mantyke,Water,Flying,45,20,50,60,120,50,4,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False

## Making Changes to Data

In [2]:
## Add Extra Column ##
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed'] # Method 1
# df = df.drop(columns='Total')

df['ToTal'] = df.iloc[:,4:10].sum(axis=1) # Method 2

## Change The Order of Columns
# df = df[['Name', 'Type 1', 'Type 2', 'ToTal', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation','Legendary']] # Method 1

cols = list(df.columns)
print(cols)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]] # Method 2

df.head(5)

['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'ToTal']

,#,Name,Type 1,Type 2,ToTal,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## Saving our Data (Exporting into Desired Format)

In [3]:
## To CSV ##
df.to_csv('modified.csv', index=False)

## To Excel ##
# df.to_excel('modified.xlsx', index=False)

## To TXT ##
# df.to_csv('modified.txt', index=False, sep='\t')

## Filtering Data

In [41]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
# new_df = new_df.reset_index(drop=True)
# new_df.reset_index(drop=True, inplace=True)
# new_df

## Contains String ##
# df.loc[df['Name'].str.contains('Mega')]
# df.loc[~df['Name'].str.contains('Mega')]

## Filter with Regex ##
import re
# df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True)]
# df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,ToTal,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

## Conditional Changes

In [46]:
# df.loc[df['Type 1'] == 'Fire, 'Legendary'] = True
# df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flame'
# df.loc[df['ToTal'] > 500, ['Generation', 'Legendary']] = 'TestValue'
# df.loc[df['ToTal] > 500, ['Generation', 'Legendary']] = ['Test 1', 'Test 2']
df

,#,Name,Type 1,Type 2,ToTal,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

## Aggregate Statistics (Groupby)

In [4]:
df = pd.read_csv('modified.csv')